<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lijian.mapper.UserMapper">
    <select id="queryUserList" resultType="user">
        select user_id as id,user_name as username,user_age as age from sys_user
    </select>
</mapper>